.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.dice 
{
  text-align: center;
  display: inline-block;

}
.img1
{
  content: url("/img/dice1.png");
  width: 80%;
}
.img2
{
  content: url("/img/dice2.png");
  width: 80%;
}
.img3
{
  content: url("/img/dice3.png");
  width: 80%;
}
.img4
{
  content: url("/img/dice4.png");
  width: 80%;
}
.img5
{
  content: url("/img/dice5.png");
  width: 80%;
}
.img6
{
  content: url("/img/dice6.png");
  width: 80%;
}
